* {
  /* outline: solid red 1px; */
}
html,
body {
  background: #000;
  padding: 0px;
  margin: 0px;
}
.container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  width:100vw;
}
.side-picture {
  /* position: relative; */
  /* min-width: 300px; */
  width: 50vw;
  height: 100vh;
  background: url(../img/parrish-freeman-vEkzfO1WpnI-unsplash.jpeg);
  background-size: cover;
  display: flex;
  flex-grow: 1;
  /* justify-content: center; */
  /* align-items: center; */
}
.header,
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #222;
}
p {
  color: #aaa;
  padding: 0.5rem;
}
.form-block {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  /* align-items: start; */
  flex-grow: 2;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}
.left-col,
.right-col {
  /* margin: 0.5rem; */
  /* outline: solid green 1px; */
  display: flex;
}
.left-col {
}
.right-col {
}
input {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  background-color: #010e01;
  border-color: #795;
  border-radius: 0.33rem;
}
input::placeholder {
  /* color: green; */
}
input::text {
  /* color: #010e01; */
}
@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .side-picture {
    width: 100vw;
    height: 30vh;
  }
  .header,
  .footer {
    /* height: 20vh; */
  }
  .form-block {
    width: 100vw;
    height: 70vh;
    /* justify-content: center; */
  }
}

