* {
  /* outline: solid red 1px; */
}
html,
body {
  padding: 0px;
  margin: 0px;
}
.input-fields {
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}
.left-col,
.right-col {
  /* margin: 0.5rem; */
  /* outline: solid green 1px; */
  display: flex;
}
.left-col {
}
.right-col {
}
input {
  padding: 0.5rem;
  margin: 0.5rem;
}
input::placeholder {
  /* color: #aaa; */
}
